.brand-color {
  color: $brand-color;
}
.bg-color {
  background-color: $bg-color;
}
.text-color {
  color: $secondary-text-color;
}

section {
  margin-top: 8rem;
  margin-bottom: 8rem;
}
.section-title {
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 7rem;
}
