.footer {
  @include flex(row, 0, center, center);

  height: 8rem;
  border-top: $brand-color solid;

  .github-link {
    color: $secondary-text-color;
  }

  .github-link:hover {
    color: #1fd3f3;
  }
}
