#services .services-card-body {
  @include flex(row, 0, center, center);
}

#services .services-card {
  background-color: $brand-color;
  color: $secondary-text-color;
  box-shadow: 1px 4px 4px 1px black;
  border-radius: 20px;
  width: 35rem;
  height: 25rem;
  @include flex(column, 0, center, center);
}
