#services h1 {
  font-size: $title-font-size;
  color: $primary-text-color;
  text-transform: uppercase;
  text-align: center;
}

#services .services-card {
  background-color: $brand-color;
  color: $secondary-text-color;
  width: 35rem;
  height: 25rem;
  @include flex(column, 0, center, center);
}
