// font
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;400;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@100;400;600;700&display=swap");

$primary-font-family: "IBM Plex Sans", sans-serif;
$secondary-font-family: "IBM Plex Serif", serif;

// Size
$font-size: 1.8rem;
$title-font-size: 5rem;
$sub-title-font-size: 3rem;

// Color
$brand-color: #30475e;
$primary-text-color: #ececec;
$secondary-text-color: #f2a365;
$bg-color: #222831;
